In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\sandy\OneDrive\Desktop\chimkode\datascience_class_2025\Datasets\sales_data.csv")

In [3]:
df

,order_id,date,region,sales_channel,customer_segment,category,product,quantity,unit_price,total_sales,discount_percent,shipping_cost,profit_margin,discount_amount,net_sales,profit,total_cost
0,ORD202313278,2023-10-09,North,Online,Small Business,Clothing,Jeans,39,163.38,6371.82,19.49,19.92,35.50,1241.87,5129.95,1821.13,5149.87
1,ORD202387397,2024-03-08,South,Online,Individual,Electronics,Laptop,19,379.95,7219.05,8.34,8.57,26.48,602.07,6616.98,1752.18,6625.55
2,ORD202383563,2023-07-23,South,Store,Corporate,Sports,Dumbbells,3,35.56,106.68,20.81,0.00,47.40,22.20,84.48,40.04,84.48
3,ORD202410851,2023-06-13,East,Store,Individual,Sports,Yoga Mat,38,30.21,1147.98,15.44,0.00,47.84,177.25,970.73,464.40,970.73
4,ORD202354118,2023-04-15,East,Online,Corporate,Electronics,Headphones,22,212.72,4679.84,13.12,15.00,15.58,614.00,4065.84,633.46,4080.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,ORD202354663,2023-07-01,North,Online,Individual,Home & Garden,Decor,5,301.89,1509.45,17.98,27.26,34.13,271.40,1238.05,422.55,1265.31
496,ORD202324538,2024-06-22,East,Online,Small Business,Home & Garden,Decor,5,488.06,2440.30,7.41,27.96,29.75,180.83,2259.47,672.19,2287.43
497,ORD202486810,2023-04-14,South,Store,Individual,Food,Beverages,6,36.96,221.76,11.78,0.00,27.86,26.12,195.64,54.51,195.64
498,ORD202493789,2024-05-13,Central,Online,Small Business,Sports,Tennis Racket,47,205.95,9679.65,6.36,25.48,34.28,615.63,9064.02,3107.15,9089.50
499,ORD202439260,2024-11-12,East,Store,Small Business,Toys,Board Games,12,60.25,723.00,17.80,0.00,29.34,128.69,594.31,174.37,594.31

In [5]:
df.columns

Index(['order_id', 'date', 'region', 'sales_channel', 'customer_segment',
       'category', 'product', 'quantity', 'unit_price', 'total_sales',
       'discount_percent', 'shipping_cost', 'profit_margin', 'discount_amount',
       'net_sales', 'profit', 'total_cost'],
      dtype='object')

In [7]:
mean=df[['discount_amount','unit_price','total_sales','shipping_cost','discount_amount']].mean()

In [8]:
mean

discount_amount     817.28788
unit_price          239.91156
total_sales        6099.88540
shipping_cost        14.58102
discount_amount     817.28788
dtype: float64

In [13]:
df.mean(numeric_only=1)

quantity              26.22000
unit_price           239.91156
total_sales         6099.88540
discount_percent      12.46684
shipping_cost         14.58102
profit_margin         36.89612
discount_amount      817.28788
net_sales           5282.59752
profit              1693.63518
total_cost          5297.17854
dtype: float64

In [30]:
laptop=df[df["product"]=="Laptop"]

In [44]:
east=df[(df["region"]=="East") & (df["product"]=="Laptop")].sum()