<a href="https://colab.research.google.com/github/sandyaranichimkode/sandya.demo/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
base_dados=pd.read_csv("/content/drive/MyDrive/project/unicorns till sep 2022.csv")

In [ ]:
base_dados.shape

(1186, 7)

In [ ]:
base_dados.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [ ]:
base_dados.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City ',
       'Industry', 'Investors'],
      dtype='object')

In [ ]:
base_dados.rename(
    columns={
        'Company': 'Empresa',
        'Valuation($B)': 'Valor ($)',
        'DateJoined': 'Data de Adesão',
        'Country': 'País',
        'City': 'Cidade',
        'Industry': 'Setor',
        'Investors': 'Investidores'
    },
    inplace=True
)

In [ ]:
base_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Empresa         1186 non-null   object
 1   Valuation ($B)  1186 non-null   object
 2   Date Joined     1186 non-null   object
 3   País            1186 non-null   object
 4   City            1186 non-null   object
 5   Setor           1186 non-null   object
 6   Investidores    1168 non-null   object
dtypes: object(7)
memory usage: 65.0+ KB

In [ ]:
base_dados.columns

Index(['Empresa', 'Valuation ($B)', 'Date Joined', 'País', 'City ', 'Setor',
       'Investidores'],
      dtype='object')

In [ ]:
base_dados.columns = (
    base_dados.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
)

In [ ]:
base_dados.columns

Index(['empresa', 'valuation_($b)', 'date_joined', 'país', 'city', 'setor',
       'investidores'],
      dtype='object')